{{- define "title" }}
  {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }}
  -
  {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
  <div class="page archive">
    {{- /* Title */ -}}
    <h2
      style="margin-bottom: 3em;"
      class="single-title animate__animated animate__pulse animate__faster"
    >
      {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
    </h2>

    {{- /* Paginate */ -}}
    {{- range .Pages -}}
      <h3>
        <a href="{{ .RelPermalink }}" class="archive-item-link">
          {{- .Title | emojify -}}
        </a>
      </h3>
      <div>
        {{ .Summary }}
      </div>
      <p style="text-align: right;">
        <a
          style="color: rgb(0, 61, 193);"
          href="{{ .RelPermalink }}"
          class="archive-item-link"
        >
          En savoir plus
        </a>
      </p>
    {{- end -}}
    <div style="margin-top: 5em;" class="content" id="content">
      {{- dict "Content" .Content "Ruby" .Params.ruby "Fraction" .Params.fraction "Fontawesome" .Params.fontawesome | partial "function/content.html" | safeHTML -}}
    </div>
  </div>
{{- end -}}
